@using GameStore.Contracts.Categories
@using GameStore.Web.ViewModels.Games


@model EditGameCategoryViewModel

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Edit Game</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" asp-action="Edit" enctype="multipart/form-data">

                                <input asp-for="EditGameViewModel.Id" type="hidden" value="@Model.EditGameViewModel.Id">
                                <input asp-for="EditGameViewModel.ImageUrlName" type="hidden" value="@Model.EditGameViewModel.ImageUrlName">
                                <div class="form-group mb-3">
                                    <input asp-for="EditGameViewModel.Name" class="form-control form-control-lg" placeholder="Enter name" value="@Model.EditGameViewModel.Name" />
                                    <span asp-validation-for="EditGameViewModel.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="number" asp-for="EditGameViewModel.Price" class="form-control form-control-lg" placeholder="Enter Price" value="@Model.EditGameViewModel.Price" />
                                    <span asp-validation-for="EditGameViewModel.Price" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div>
                                        <textarea asp-for="EditGameViewModel.Description" id="tiny"
                                        class="form-control form-control-lg"
                                        placeholder="Enter Description">

                                    </textarea>
                                    </div>
                                    <span asp-validation-for="EditGameViewModel.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="EditGameViewModel.Image" class="form-control " id="image_input" />
                                    <span asp-validation-for="EditGameViewModel.Image" class="text-danger"></span>
                                </div>   

                                <div class="form-group mb-3">
                                    <ul class="list-group">
                                        @for(int i=0;i<Model.Categories.Count; i++){
                                            var category = Model.Categories[i];
                                            <li class="list-group-item">
                                                <input asp-for="Categories[i].Id" type="hidden" value="@category.Id">
                                                <input asp-for="Categories[i].Name" type="hidden" value="@category.Name">
                                                @Html.CheckBoxFor(model=> model.Categories[i].IsChecked)
                                                @category.Name
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        <button class="btn btn-success btn-lg" type="submit">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>