@using GameStore.Contracts.Games;
@using GameStore.Web.Helper;

@model PaginatedList<GameDTO>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome Games List</h1>
</div>
<div class="container ">
    <div class="row my-1">
        @foreach (GameDTO game in Model)
        {
            <div class="col-md-4 col-sm-6 my-3">
                <div class="card">
                    <img class="card-img-top" style="height:250px;" src="~/images/games/@game.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Stratege , $ @game.Price</h5>
                        <p class="card-text">@game.Name</p>
                        <a asp-controller="Game" asp-action="View" asp-route-id="@game.Id" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>

    @{
        var prevDisabled=!Model.HasPreviousPage ? "disabled":"";
        var nextDisabled=!Model.HasNextPage ? "disabled":"";
    }
    <div class="text-center" style="margin-bottom:70px;">
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)"
           class="btn btn-link @prevDisabled">Previous</a>

        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)"
           class="btn btn-link @nextDisabled">Next</a>
    </div>
</div>
