@using GameStore.Contracts.Games;

@model GameDTO

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
</div>

<div style="width:60%; margin:30px auto 100px auto;">
    <div class="card">
        <img class="card-img-top" style="height:480px;" src="~/images/games/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cost: $ @Model.Price </h5>
            <p class="card-text">@Model.Description</p>
            <h5 style="margin-bottom:20px;">

            @foreach(var category in Model.Categories){
                    <span class="badge rounded-pill bg-info "> @category.Name </span>
            }
                </h5>
            <a asp-controller="Game" asp-action="View" asp-route-id="@Model.Id" class="btn btn-primary">Add Cart</a>
        </div>
    </div>
</div>

