@using GameStore.Contracts.Games;

@model GameDTO

<div class="text-center">
    <h1 class="display-4">Welcome Games List</h1>
</div>

<div class="col-md-4 col-sm-6 my-3">
    <div class="card">
        <img class="card-img-top" src="~/images/games/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name  @Model.ImageUrl</h5>
            <p class="card-text">@Model.Description  Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-controller="Game" asp-action="View" asp-route-id="@Model.Id" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<a type="button"
   class="btn btn-sm btn-outline-danger"
   asp-action="Delete"
   asp-route-id="@Model.Id">
    Delete
</a>

<a type="button"
   class="btn btn-sm btn-outline-danger"
   asp-action="Edit"
   asp-route-id="@Model.Id">
    Edit
</a>